<script>
    import "../app.css";
</script>

<div class="bg-gray-800 min-h-screen flex flex-col">
    <!--- Navbar with links --->
    <nav class="bg-gray-700">
        <div class="container">
            <div class="flex items-center justify-between flex-wrap p-2">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <a href="/" class="font-semibold text-xl tracking-tight">Home</a>
                </div>
                <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                    <div class="text-sm lg:flex-grow">
                        <a href="/comments" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
                            Comments
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--- Content takes up the portion of the screen not used by the navbar --->
    <div
        class="container mx-auto flex-grow flex flex-col"
    >
        <slot>
        </slot>
    </div>
</div>