<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
    integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
    crossorigin="anonymous"
>
<script lang="ts">
    import { onMount } from 'svelte';
    import links from '../data/links.json';
    import FaLink from '../components/FaLink.svelte';

    const formatUptime = (uptime: number) => {
        const secondsInAMinute = 60;
        const secondsInAnHour = 60 * secondsInAMinute;
        const secondsInADay = 24 * secondsInAnHour;
        const secondsInAWeek = 7 * secondsInADay;

        let uptimeString = "";
        const weeks = Math.floor(uptime / secondsInAWeek);
        uptime %= secondsInAWeek;
        uptimeString += `${weeks} week${weeks === 1 ? '' : 's'}, `;

        const days = Math.floor(uptime / secondsInADay);
        uptime %= secondsInADay;
        uptimeString += `${days} day${days === 1 ? '' : 's'}, `;

        const hours = Math.floor(uptime / secondsInAnHour);
        uptime %= secondsInAnHour;

        uptimeString += `${hours} hour${hours === 1 ? '' : 's'}, `;
        const minutes = Math.floor(uptime / secondsInAMinute);
        uptimeString += `${minutes} minute${minutes === 1 ? '' : 's'}, `;

        const seconds = uptime % secondsInAMinute;
        uptimeString += `${seconds} second${seconds === 1 ? '' : 's'}`;

        return `${uptimeString}`;
    }

    let uptimeSeconds = 0;
    let uptime = "";

    const fetchUptime = async() => {
        fetch('/api/uptime')
        .then(res => res.json())
        .then(data => {
            uptimeSeconds = data.uptime;
            uptime = formatUptime(uptimeSeconds);
        });
    }

    onMount(async() => {
        await fetchUptime();
    });

    // Update uptime every second
    setInterval(async() => {
        uptimeSeconds++;
        uptime = formatUptime(uptimeSeconds);
    }, 1000);
</script>

<div class="container flex justify-center items-center flex-col mb-40 mt-60">
    <div class="flex flex-row border-2 border-gray-200 rounded-lg bg-gray-700 mb-0">
        {#each links as link}
            <FaLink {link} />
        {/each}
    </div>
    <div
        class="text-gray-400 text-center mt-1 p-2 rounded-lg border-2 border-gray-200"
    >
    {#if uptime}
        Uptime: {uptime}
    {:else}
        Loading...
    {/if}
    </div>
</div>