<script lang="ts">
    import { onMount } from "svelte";
    import Comment from "./Comment.svelte";

    let creatingComment = false;
    let comments: PgComment[] = [];
    let commentBody: string = "";

    const postComment = () => {
        fetch("/api/comments/create", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ body: commentBody, parent_id: null }),
        })
        .then(res => res.json())
        .then(data => {
            if(data.error) {
                alert(data.error);
                return;
            }
            if(data.success) {
                comments = [];
                fetchComments();
                creatingComment = false;
                commentBody = "";
            }
        });
    }

    const fetchComments = async(): Promise<{success: boolean, error?: any}> => {
        fetch("/api/comments")
        .then(res => res.json())
        .then(data => {
            if(data.error) {
                console.error(data.error);
                return {"success": false, "error": data.error};
            }
            if(data.success) {
                comments = data.comments;
                return {"success": true};
            }
        })
        .catch(err => {
            console.error(err);
            return {"success": false, "error": err};
        });
        return {"success": false, "error": "Unknown error"};
    }

    onMount(() => {
        fetchComments();
    });
</script>

<div class="flex flex-col width-full">
    <button
        class={`bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-1 ${creatingComment ? "mb-0" : "mb-4"}`}
        on:click={() => creatingComment = !creatingComment}
    >
        {creatingComment ? "Cancel" : "Create Comment"}
    </button>

    {#if creatingComment}
        <div class="flex flex-col">
            <textarea
                bind:value={commentBody}
                placeholder="Comment"
                class="bg-gray-700 text-gray-400 border-2 border-gray-200 rounded-lg p-2 m-2"
            ></textarea>
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-0"
                on:click={postComment}
            >
                Post Comment
            </button>
        </div>
    {/if}

    <!--- Grid of comments --->
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 overflow-y-scroll max-h-full">
        {#if comments.length === 0}
            <p class="text-gray-400 text-center mt-1 p-2 rounded-lg border-1 border-gray-200">
                No comments yet!
            </p>
        {/if}
        {#each comments as comment}
            <Comment {comment} {fetchComments} />
        {/each}
    </div>
</div>