<script lang="ts">
    import { onMount } from 'svelte';
    import Comment from './Comment.svelte';

    export let comment: PgComment;
    export let fetchComments: () => Promise<{ success: boolean; error?: any }>;

    let commentHidden = false;
    let nestedComments: PgComment[] = [];
    let nestedCommentsVisible = false;

    const fetchNestedComments = async() => {
        const res = await fetch(`/api/comments?parent_id=${comment.id}`);
        const data = await res.json();
        if (data.success) {
            nestedComments = data.comments;
        } else {
            console.error(data.error);
        }
    };

    const reply = async() => {
        const body = prompt('Reply to comment:');
        if (body) {
            const res = await fetch('/api/comments/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    body,
                    parent_id: comment.id,
                }),
            });
            const data = await res.json();
            if (data.success) {
                nestedComments = [];
                await fetchComments();
                await fetchNestedComments();
                nestedCommentsVisible = true;
            } else {
                alert(data.error);
            }
        }
    };

    onMount(async() => {
        await fetchNestedComments();
    });
</script>

<div
    class="flex flex-col width-full p-2 border-2 border-gray-500 rounded-lg bg-gray-700 m-1 transition-all duration-100 ease-in-out"
>
    {#if !commentHidden}
        <div class="flex flex-row width-full justify-between">
            <div class="left-content flex flex-row">
                <button
                    class="bg-gray-500 hover:bg-gray-600 text-gray-200 font-bold py-0 px-1 rounded text-sm mr-1"
                    style="font-size: 0.7rem;"
                    on:click={() => commentHidden = !commentHidden}
                >
                    -
                </button>
                <p
                    class="text-gray-400 text-left break-all"
                    style="font-size: 0.8rem;"
                >
                    <span class="font-bold">ID:</span>
                    {comment.id}
                </p>
            </div>
            <p class="text-gray-400 text-left break-all ml-2 justify-end">
                <span class="font-bold">Time:</span>
                {new Date(comment.timestamp * 1000).toLocaleString()}
            </p>
        </div>
        <div class="flex flex-row width-full overflow-scroll max-h-40">
            <p
                class="text-gray-400 text-left break-all"
            >
                {comment.body}
            </p>
        </div>
        <div class="flex-row">
            <div class="flex flex-row">
                <!--- reply button -->
                <div class="flex flex-col mt-1">
                    <button
                        class="bg-gray-500 hover:bg-gray-600 text-gray-200 font-bold py-0 px-1 rounded text-sm mr-1"
                        style="font-size: 0.7rem;"
                        on:click={reply}
                    >
                        Reply
                    </button>
                </div>
            </div>
            <div class="flex flex-col">
                <!--- If nesting less than 2, show by default --->
                {#if nestedCommentsVisible || nestedComments.length <= 2}
                    {#each nestedComments as comment}
                        <Comment {comment} {fetchComments}/>
                    {/each}
                {/if}
            </div>
            <!--- If nesting greater than 2, hide by default --->
            {#if nestedComments.length > 2}
                <!--- show/hide replies button -->
                <div class="flex-col mt-1">
                    <button
                        class="bg-gray-500 hover:bg-gray-600 text-gray-200 font-bold py-0 px-1 rounded text-sm mr-1"
                        style="font-size: 0.7rem;"
                        on:click={() => nestedCommentsVisible = !nestedCommentsVisible}
                    >
                        {nestedCommentsVisible ? "Hide" : "Show"} Replies
                    </button>
                </div>
            {/if}
        </div>
    {/if}
    {#if commentHidden}
        <div class="flex flex-row width-full justify-between mb-1">
            <div class="left-content flex flex-row">
                <button
                    class="bg-gray-500 hover:bg-gray-600 text-gray-200 font-bold py-0 px-1 rounded text-sm mr-1"
                    style="font-size: 0.7rem;"
                    on:click={() => commentHidden = !commentHidden}
                >
                    +
                </button>
                <p
                    class="text-gray-400 text-left break-all"
                    style="font-size: 0.8rem;"
                >
                    <span class="font-bold">ID:</span>
                    {comment.id}
                </p>
                <p
                    class="text-gray-400 text-left break-all ml-2"
                    style="font-size: 0.8rem;"
                >
                    <span class="font-bold">Comment Hidden</span>
                </p>
            </div>
            <p class="text-gray-400 text-left break-all ml-2 justify-end">
                <span class="font-bold">Time:</span>
                {new Date(comment.timestamp * 1000).toLocaleString()}
            </p>
        </div>
    {/if}
</div>