<script lang="ts">
    export let link: Link;
</script>
<!--- Link to a page using a font awesome icon -->
<a
    href={link.url}
    class="m-2 p-2 rounded hover:rounded-lg"
    style="color: white;"
>
    <i
        class={`${link.fa_icon} color-blue-500 hover:text-blue-500 transition-all duration-100 ease-in-out`}
        aria-hidden="true"
    ></i>
</a>